@import url('https://fonts.google.com/specimen/Recursive?vfonly=true&sidebar.open=true&selection.family=Recursive');

/* Global */
body {
    font-family: 'Recursive', sans-serif;
    box-sizing: border-box;
    background-color: #e9e9e9;
    margin: 0;
    color: #20292F;
    height: 100vh;
}

a {
    margin: 0;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button {
    background-color: #E1E289;
}

/* Header */
.header-wrapper {
    overflow: hidden;
    margin: auto;
    border-bottom: black solid 1px;
    display: flex;
    background-color: #FFFFFF;
    background-position: 0px 0px;
    color: #20292F;
}

header .brand-name {
    text-transform: uppercase;
    margin-left: 20px;
    font-size: 12px;
    font-weight: 700;
}

header .nav-links-container {
    display: flex;
    margin-left: auto;

}

header .nav-links-container ul {
    display: flex;
    flex-direction: row;
    margin: 20px 15px 0px 0px;
}

header .nav-links-container a {
    text-align: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #20292F;
}

header .nav-links-container a:hover {
    opacity: .4;
    transition: all .4s ease-in-out;
}

/** Section Grid Container **/
section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 4fr 2fr .5fr;
    height: 100vh;
}

/* Main */
.landing-section-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    border: #000000 solid 1px;
    overflow: hidden;
}
#landing-image-cover{
    opacity: 0.6;
}
.landing-content {
    opacity: 1;
    /* Content Placement in the center */
    grid-column: 2;
    grid-row: 2;
    /* Content Layout*/
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    color: #000000;
}

/* Showcase */
.showcase-section-wrapper {
    background: #212738;
    color: #EEF0F2;
    border: #000000 solid 1px;
}


/*Display Section*/
.display-section-wrapper {
    border: #000000 solid 1px;
}

.information-section-wrapper {
    border: #000000 solid 1px;
}

.footer-section-wrapper {
    border: #000000 solid 1px;
}

/* Main */

/* Footer */

/* Media Query */

/*@media screen and(max-width:480px){
    .header
}*/