@import url('https://fonts.google.com/specimen/Recursive?vfonly=true&sidebar.open=true&selection.family=Recursive');

*{
    box-sizing: border-box;
}
/* Global */
body {
    font-family: 'Recursive', sans-serif;
    color: #20292F;
    background-color: #ffffff;
    margin: 0;
    height: 100vh;
}

a {
    margin: 0;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button{
    background-color: #DCA57D;
    letter-spacing: 3px;
    font-size: 15px;
    font-weight: 500;
    line-height: 25.5px;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 0px;
    border: none;
    height: 54.5px;
    width: 95px;
    color: #ffffff;
    text-decoration : rgb(255, 255, 255)
}

button :hover{
    opacity: .6;
    transition: all .4s ease-in-out;
}

/* ========== Container Wrapper ==========*/
.container-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 4fr 4fr 2fr 2fr 1fr;
    height: 100vh;
}

/*========== Navigation Bar ==========*/
.header-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#header-container{
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.4);
}

.brand-name{
    margin-left: 15px;
    align-self: center;
}

.brand-name h1{
    font-size: 25px;
    font-weight: 700;
}

.nav-links{
    grid-column: 3;
    padding: 5px;
    align-items:center;
}

.nav-links ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}
.nav-links li{
    margin: 0;
    padding: 5px;
}
.nav-links a{
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: #20292F;
}

.nav-links a:hover{
    opacity: .4;
    transition: all .4s ease-in-out;
}

/* ========== Main ========== */
.main-wrapper{
    border: #000000 solid 1px;
    display: grid;
    grid-template-columns: 1fr;
    
}   

/* ========== Showcase Display ==========*/
.showcase-wrapper{
    border: #000000 solid 1px;
}
/* ========== Display Shop ========== */
.display-wrapper{
    border: #000000 solid 1px;
}

/* ========== Information Section==========*/
.information-wrapper{
    border: #000000 solid 1px;
}

/* ========== Footer ========== */
.footer-wrapper{
    border: #000000 solid 1px;
}


/* Media Query */

/*@media screen and(max-width:480px){
    .header
}*/